/*_____________________CUSTOM_THEME______________________*/
/* --body-before:#00ff771a; /* This is the background that creates the crt lines, background uses a transparency of 10% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-after: #00ff7733; /* This is the background that creates the crt lines, background uses a transparency of 20% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-animation: flicker; This is the background that flickers. SET TO NONE TO REMOVE THE FLICKER ANIMATION! */
/* --custom-text-header-animation: textflicker; /* SET TO NONE TO REMOVE THE FLICKER ANIMATION! */

@import url(/theme.park/css/addons/unraid/login-page/retro-terminal/retro-terminal-base.css);
:root {
--main-bg-color:#0d1b2a;
--body-before: none;
--body-after: none;
--body-animation: none;
--logo: none;
--text-color: #ffffff;
--input-color: #ffffff;
--link-color: #00bcd4;
--link-color-hover: #ffffff;
--case-color: #ffffff;
--button-text-color: #ffffff;
--button-text-color-hover: #ffffff;
--button-color: #007acc;
--button-color-hover: #005f9e;
--selection-color: #00bcd4;
--custom-text-header:#ffffff;
--custom-text-header-shadow:#ffffff;
--custom-text-header-animation: none;
--input-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--loginbox-background-color: rgba(0,0,0,0.85);
--text-shadow: none;
--text-shadow-color: none;
--box-shadow: 0 0 15px #000000;
}
body {
  background-image: url("/css/addons/unraid/login-page/background.jpg");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: left center;
  background-attachment: fixed;
}
